node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.*
.vscode
.idea
.DS_Store
coverage
.nx
dist
*.log
test-output
test/playwright-report
test/test-results
apps/*/dist
apps/node_modules
*.tsbuildinfo
vite.config.*.timestamp*
vitest.config.*.timestamp*